{% extends 'base_admin.html.twig' %}

{% block title %}Administration des feuilles de sécurité{% endblock %}

{% block body %}

    <h1 class="mb-5">{{ new ? 'Creation d\'une feuille de sécurité' : 'Modification d\'une feuille de sécurité'}}</h1>

    {{ form_start(fdsForm) }}

        {{ form_row(fdsForm.product, {
            'attr': {
                'class': 'form-control mb-3'
            },
            'read_only': 'true'
        }) }}
        {{ form_row(fdsForm.file, {
            'attr': {
                'class': 'form-control mb-3'
            }
        }) }}
        <button type="submit" class="btn btn-success">Ajouter</button>
    {{ form_end(fdsForm) }}

 

{% endblock %}