{% extends 'base_admin.html.twig' %}

{% block title %}Administration des utilisateurs{% endblock %}

{% block body %}

    <h1 class="mb-5">Modification d'un utilisateur</h1>

    {{ form_start(userForm) }}

        {{ form_row(userForm.username, {
            'attr': {
                'class': 'form-control mb-3',
            }
        }) }}
        {{ form_row(userForm.email, {
            'attr': {
                'class': 'form-control mb-3',
            }
        }) }}
        {{ form_row(userForm.roles, {
            'attr': {
                'class': 'form-control mb-3',
            }
        }) }}
        {{ form_row(userForm.products, {
            'attr': {
                'class': 'form-control mb-3',
            }
        }) }}
        
        <button type="submit" class="btn btn-success">Enregistrer</button>
    {{ form_end(userForm) }}

 

{% endblock %}