<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<script src="https://kit.fontawesome.com/5233999e8c.js" crossorigin="anonymous"></script>
		{% block stylesheets %}
			{{ encore_entry_link_tags('global') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body style="height:100vh" class="d-flex align-items-start justify-content-start">

		<div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px;height:100vh; position: fixed;">
			<a href="{{ path('app_home') }}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
				<img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="" width="32" height="32" class="rounded-circle me-2">
				<span class="fs-4">ChemicalBrothers</span>
			</a>
			<hr>
			<ul class="nav nav-pills flex-column mb-auto">
				<li class="nav-item">
					<a href="{{ path('app_admin') }}" class="nav-link link-secondary text-primary">
						<i class="fa-solid fa-table-columns me-2"></i>
						Accueil
					</a>
				</li>
				<li>
					<a href="{{ path('app_admin_product') }}" class="nav-link link-body-emphasis">
						<i class="fa-solid fa-receipt me-2"></i>
						Les Produits
					</a>
				</li>
				<li>
					<a href="{{ path('app_admin_fds') }}" class="nav-link link-secondary text-primary">
						<i class="fa-solid fa-skull-crossbones me-2"></i>
						Les FDS
					</a>
				</li>
				<li>
					<a href="{{ path('app_admin_user') }}" class="nav-link link-secondary text-primary">
						<i class="fa-solid fa-users me-2"></i>
						Utilisateurs
					</a>
				</li>
			</ul>
			<hr>
			<div class="dropdown">
				<a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
					<img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="" width="32" height="32" class="rounded-circle me-2">
					<strong>{{ app.user.username }}</strong>
				</a>
				<ul class="dropdown-menu text-small shadow">
					<li>
						<a class="dropdown-item" href="{{ path('app_home') }}"><i class="fa-solid fa-house me-2"></i>Retour au site</a>
					</li>
					<li><hr class="dropdown-divider"></li>
					<li>
						<a class="dropdown-item text-danger" href="{{ path('app_logout') }}"><i class="fa-solid fa-arrow-right-from-bracket me-2"></i>Se déconnecter</a>
					</li>
				</ul>
			</div>
		</div>
        <div class="admin-content  flex-grow-1 p-5" style="margin-left:280px">
            {# display flash messages #}
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
		    {% block body %}{% endblock %}
        </div>
            
	</body>
</html>
